extends ../layout-secure

block scripts
  script(type='text/javascript',src='/libs/domcharts/bar.js')
  script(type='text/javascript',src='/libs/domcharts/timeline.js')
  script(type='text/javascript',src='/javascripts/chart.js')

block content
  
  div#charts
