extends ../layout-secure

block content
  div(data-role='collapsible-set',data-expanded-icon='arrow-d',data-collapsed-icon='arrow-r',data-inset='false')
    div(data-role='collapsible', data-collapsed='false')
      h3 Contact Information
      p contact information here
      
    div(data-role='collapsible')
      h3 Payment Information
      p payment information here
