extends layout

block content
  div.centered
    img(src='/images/parkurban-mobile.200.png')
    br
    a(data-role='button',data-inline='true',href='/login') Login
    a(data-role='button',data-inline='true',href='/register') Sign Up
